@{
    ViewData["Title"] = "Home Page";
}

@*Pull in all the information about the boook and page info*@
@model BooksViewModel

@*Creates a loop to print out all of the Books from the database*@
@foreach (Book b in Model.Books)
{
    //this will look at the ProjectSummary view page and pull in the information from there
    //if we dont put the model='b', the b wont be recognized in the projectsummary view
   <partial name="ProjectSummary" model="b"/>

}

@*Pass in the information we get from the controller*@
<div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>