
@page
@model Mission7.Pages.PurchaseCompleteModel

@{
}


<div class="text-center">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        You successfully read this important alert message.
    </div>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>